<header>
	<h1>Dogfooding session – Composable entries > Structured WYSIWYG</h1>
</header>
<div class="container">
	<h2>What are composable entries?</h2>
	<p>"Composable entries" are entries that have a content area which consists from a list of references, instead of one long markdown field. These references, sometimes called "blocks", other times "modules" etc, can be defined by the content modeler so that the editor can then have full control on the content flow.
	</p>
	<p>Read more about them <a href="https://contentful.atlassian.net/wiki/spaces/PROD/pages/409764171/Structured+WYSIWYG">here</a>.</p>
	<h2>Tasks</h2>
	<p>Each of you is tasked with creating a page in the Space that I have invited you. Download the images, get the embedded video links and recreate them in our App. You will need to "break down" the content you see into different blocks of text, image, video and quote. 
	</p>
	<ol>
		<li>Mohamed: Create this <a href="https://www.contentful.com/blog/2018/03/02/patience-and-the-right-tools-how-i-approach-content-modeling/">page</a></li>
		<li>Sergii: Create this <a href="https://www.contentful.com/blog/2018/04/03/hitchhikers-guide-to-structured-data/">page</a></li>
		<li>Daniel: Create this <a href="https://www.contentful.com/blog/2017/11/28/work-smarter-with-our-new-search-features/">page</a></li>
		<li>Johanes: Create this <a href="https://www.contentful.com/blog/2018/04/09/foolproof-guide-getting-started-contentful/">page</a></li>
		<li>Danny: Create this <a href="https://www.contentful.com/blog/2017/07/07/interview-with-mario-bodemann/">page</a></li>
		<li>Vlad: Create this <a href="https://www.contentful.com/blog/2017/09/27/super-chemex-bot/">page</a></li>
		<li>Claus: Create this <a href="https://www.contentful.com/blog/2017/10/11/love-letter-to-component-ready-cms/">page</a></li>
		<li>João: Create this <a href="https://www.contentful.com/blog/2017/11/23/a11y-club-berlin/">page</a></li>
		<li>Darren:Create this <a href="https://www.contentful.com/blog/2017/11/28/work-smarter-with-our-new-search-features/">page</a></li>
	</ol>
</div>
