<header>
	<h1>Dogfooding session – Composable entries</h1>
</header>
<div class="container">
	<h2>What are composable entries?</h2>
	<p>"Composable entries" are entries that have a content area which consists from a list of references, instead of one long markdown field. These references, sometimes called "blocks", other times "modules" etc, can be defined by the content modeler so that the editor can then have full control on the content flow.
	<br/>
	On the other side, developers know what exactly they can expect from their editors' input and render the relevant blocks accordingly.</p>
	<h2>Why this workshop?</h2>
	<p>The goal of the exercise is to get familiar with working with these pages as an editor in an effort to understand their pain points and our app's potential shortcomings.</p>
	<h2>Tasks</h2>
	<p>Each of you is tasked with creating a page in the Space that I have invited you. Download the images, get the embedded video links and recreate them in our App. You will need to "break down" the content you see into different blocks of text, image, video and quote. 
	<br/>
	Try to get the formatting as close as possible and <strong>make sure to take down notes about what you might find annoying, difficult, impossible during the process.</strong></p>
	<ol>
		<li>Mohamed: Create this <a href="https://www.contentful.com/blog/2017/11/28/work-smarter-with-our-new-search-features/">page</a></li>
		<li>João: Create this <a href="https://www.contentful.com/blog/2017/11/23/a11y-club-berlin/">page</a></li>
		<li>Vlad: Create this <a href="https://www.contentful.com/blog/2017/10/06/stockholm-user-meetup/">page</a></li>
		<li>Sergii: Create this <a href="https://www.contentful.com/blog/2017/10/11/love-letter-to-component-ready-cms/">page</a></li>
		<li>Kevin: Create this <a href="https://www.contentful.com/blog/2017/09/27/super-chemex-bot/">page</a></li>
		<li>Daniel: Create this <a href="https://www.contentful.com/blog/2017/07/07/interview-with-mario-bodemann/">page</a></li>
	</ol>
	<p>Once you're done, wait for everyone to finish and <strong>then try to publish your pages</strong> (don't forget to take notes again!)</p>
	<p>Finally present your notes to the group.</p>
</div>
