<header>
	<h1>Structured Content example app</h1>
</header>
<div class="container">
	<ul>
		<li><a href="https://app.contentful.com/spaces/x4377yw9ls2u/">Contentful Admin</a></li>
		<li><a href="/pages">Pages</li>
	</ul>
</div>
