body {
	font-family: 'Signika', sans-serif;
	font-weight: 200;
	line-height: 1.4;
	padding: 1em;
}

p {
	margin-bottom: 1em;
}

header {
	margin-bottom: 2em;
}

.cover-image {
	max-width: 500px;
	border: 1px solid lightgray;
}

.content {
	max-width: 42em;
	margin: 0 auto;
}

.block-text,
.block-image,
.block-quote,
.block-video,
.block-link {
	margin-bottom: 1em;
}

.block-image__image {
	max-width: 100%;
}
